

.arcade-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcade-scoreboard {
  width: 70%;
  padding: 30px;
  margin-top: 50px;
  border: 5px solid #810a81; 
  box-shadow: 0 0 20px #810a81, 0 0 60px #810a81; 
  background-color: #000000;
  border-radius: 10px;
  animation: fade-in 2s ease-in-out;
}

.arcade-title {
  font-size: 2rem;
  color: #FF00FF;
  text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF; 
  margin-bottom: 20px;
}

.scores-list {
  list-style: none;
  padding: 0;
}

.score-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px dashed #FFFF00; 
  font-size: 1.5rem;
  color: #ffffff;
}

.score-item:last-child {
  border-bottom: none;
}

.player-name {
  color: #00FFFF;
  text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF; 
  animation: blink 1s infinite;
}

.player-score {
  color: #FFFF00; 
  text-shadow: 0 0 5px #FFFF00, 0 0 10px #FFFF00; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.scores-list {
  overflow: hidden;
  height: 200px;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.score-item {
  animation: scroll 10s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.arcade-new-game {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


